.item {
    border-radius: 18px;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.item:not(:last-child) {
    margin-bottom: 30px;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.itemSection {
    padding: 15px 16px;
}

.imgTextTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.productTitle {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.18;
}

.btn {
    padding: 4px 15px;
    border-radius: 20px;
    border: transparent;

    align-items: center;
    text-align: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    word-wrap: break-word;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:focus,
.btn:hover {
    background-color: #188ce8;
}

.priceText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
    .item {
        width: calc((100% - 30px) / 2);
    }

    .item:not(:last-child) {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1168px) {
    .item {
        width: calc((100% - 90px) / 4);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        /* height: 544px; */
    }

    .poster {
        width: 100%;
        height: auto;

        position: relative;
        overflow: hidden;
    }

    .item:hover,
    .item:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
